
body {
        background-image: url(img/fondoParaPerros.jpg);
        backface-visibility: calc(30%);
        background-repeat: repeat-x;

}
 
article img {
    width: 250px;
    height: 250px;
}
img {
    width: 300px;
    height: 200px;
   /* border: 1px solid black;*/

}
img:hover{
    margin-left: 4%;
    transition: .2s;
    border: 1px solid black;
    width: 400px;
    height: 300px;
}
.conteinerIndices {
       
        background: rgba(145, 149, 78, 0.155);
}
a{
    
    display: block;
    width: 80%;
    border-right: 5px solid black;
}
li {
    
width: 100%;
border-bottom-color: 1px solid grey;
font-size: 25px;


}
li :hover{
    font-size: 30px;
    margin-left: 1.2%;
    transition: 1.5s;
    color :rgb(206, 206, 221);
    background-color: rgb(235, 157, 157);
}
/* contenedores y estilo de las imagenes con su texto   */
.containerImg {
    display: flex;
    flex-direction: row;
    padding: 3px;
}
.indices{
    position: static;
}
/* Animacion lateral*/
.efecto-izquierda{
    position: absolute;
    left: 81%;
    top: 13%;
    bottom: 80px;
    width: 10%;
        height: 20px;
        rotate: 50deg;
        border: 10px dashed rgb(228, 199, 199);
        border-radius: 100%;
        animation-direction: unset 3s;
}

@keyframes mymove {
    from {
        rotate: z -100deg;
        border: 45px  rgb(162, 92, 168);
        left: 83%;
        top: 16%;
        bottom: 90px;
        width: 12%;
        height: 20px;
    }
    20%{
       
        rotate: z -30deg;
        border: 18px dashed rgb(212, 195, 195);
        left: 83%;
        border-radius: 30%;

        top: 16%;
        bottom: 90px;
        width: 12%;
        height: 200px;

    }
    80%{
       
        rotate: z 300deg;
        border: 18px dashed rgb(212, 195, 195);
        left: 83%;
        border-radius: 30%;

        top: 16%;
        bottom: 90px;
        width: 12%;
        height: 200px;

    }
    95%{
        width: 1%;
        height: 20px;
        rotate: 100deg;
        border: 10px dashed rgb(121, 87, 87);
    }
    to{
        width: 1%;
        height: 5%;
        rotate: 50deg;
        border: 1px dashed rgb(121, 87, 87);
        border-radius: 350px;

    }
  }
