body{
color: red;
}
/* header*/
h1 {
    text-align: center;
}
/* Animacion lateral*/
.indices > .animacion-izquierda{
 width: 20%;
 height:100%;
    border-radius: 50%;
    border-color: brown;
} 
/*--------- ubicacion del nav*/
.navegador {
    display: flex;
    flex-direction: row;
}
.conteiner{
    display: flex;
    flex-direction: row;
    text-align: justify;
    padding-left: 10px;
    margin-right: 30px;;
    justify-content: space-between;

    width: 70%;
}
.indices{
    display: inline;
}
.buscador{
   /* position: re;
    right: 1%;
    top: 1%;
    position: relative;
    left: 60%;
    */
}
.contenedor-main{
    display: flex;
    flex-direction: row;
}
.contenedor-main article{
    width: 75%;
    background: grey;
}
aside h2{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
}
/*aside*/
.relacionados {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}
